<div class="card">
    <h3 class="card-header primary-color white-text">More About The Chess Camp</h3>
    <div class="card-body">
    Alex and Mark Heimann are officially chess masters and they are looking for a
    way to earn a modest summer income that capitalizes on their chess skills. To
    that end, they have decided that in the summer of 2018 they will establish a series
    of summer chess camps for children of various ages and skill levels. They need to
    establish an online presence for these chess camps, but have a very limited
    budget for doing so.<br/>
    
    <br/>
    So we decided to help Alex and Mark achieve their goal of opening a summer chess camp and by we I just mean just me (Hassan).  
    <br/><br/>
    Here are some amazing Chess Quotes I take inspiration from:<br/><br/>
    
    "Chess is a game which reflects most honor on human wit."	<br/>
    -Francois Voltaire<br/><br/>
    
    "The game of chess is the touchstone of the intellect."	<br/>
     -Johann von Goethe<br/><br/>
    
    "Chess is the gymnasium of the mind."	<br/>
     -Blaise Pascal (Mathematician, philosopher and chess enthusiast)<br/><br/>
    
    "Checkers is for tramps."	<br/>
     -Paul Morphy (Great American chess player in 1800s and considered by many to be the first unofficial world champion) 
    
        
    </div>
</div>