<div class="container">
  <div class="jumbotron">
    <h1>Welcome To The Most Awesome Chess Camp Ever !!!!</h1> 
    <p>Are you feeling bored? Do you feel like life is not challenging anymore? Want to show of your skills and IQ? Well
    this the right place for you then. The CMUQ Chess camp provides you with opportunities that you will not find anywhere else. </p> 
  </div>
  
  <%= image_tag("chess/chess.png")%>
  
  <div>
     <br/>
     <br/>
  </div>
  
</div>