<div class="card">
    <h3 class="card-header primary-color white-text">Privacy Policy</h3>
    <div class="card-body">
       <h4> WEBSITE VISITORS</h4> <hr/><br/>
    Like most website operators, The Chess Camp collects non-personally-identifying information of the sort that web browsers 
    and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. 
    Chess Camp's purpose in collecting non-personally identifying information is to better understand how Chess Camp's visitors use its website. 
    From time to time, Chess Camp may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.
    Chess Camp also collects potentially personally-identifying information like Internet Protocol (IP) addresses. 
    Chess Camp does not use such information to identify its visitors, however, and does not disclose such information, other than under the 
    same circumstances that it uses and discloses personally-identifying information, as described below.
    
        
    </div>
</div>