<div class="card">
    <h3 class="card-header primary-color white-text">Webmaster Hassan Nadeem in the House</h3>
    <div class="card-body">
    Nice to meet you Mr. User. Are you wondering how can I be so Awesome? 
    Oh well, I can't really tell you the formula for this Awesomeness but I can tell you more about myself. 
    I am originally from Pakistan, I was born and raised in Qatar, I went to an Indian School and now I am studying in an
    American University. So yeah my cultural identity is pretty messed up at the moment. I know a few basic programming languages 
    such as Python, Java, Php and Ruby. I used the last one along with the rails framework to develop this Web Application. 
    Well, The End. Oh wait, below is a picture of one of my favorite places in the world. Check it out befre you leave. <br/><br/>
    
    <%= image_tag("photos/london.jpg")%>
    
    </div>
    <div> <br/> <br/></div>
</div>